body {
  background-color: lightgrey;
  min-height: 100%;
  padding-bottom: 80px;
  position: relative;
}
.form-control {
  border-radius: 0;
  margin-top: 3px;
}

html {
  height: 100%;
}
.nav-item {
  display: inline-block;
  /* position: fixed right; not working*/
}
/* try min-width: 300 unless problems with portfolio  */
.container {
  margin-top: 100px;
  margin-bottom: 50px;
}

main {
}

h1 {
  font-size: xx-large;
}
#profile-pic {
  /* float: left; */
  width: 150px;
  /* margin: 0 20px 10px 0; */
}

#navbar-brand {
  margin-left: 10px;
  /* margin: auto-0; */
  background-color: #4aaaa5;
  padding: 10px;
  color: white;
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: #666666;
  border-top: #4aaaa5;
  border-top-width: 5px;
  border-top-style: solid;
  color: #777;
  position: absolute;
  width: 100%;
  bottom: 0;
}

p {
  line-height: 1.5em;
}

.form-control {
  /* width: 80%; not working */
}

.about-me {
  /* display: ; */
  /* position: relative; */
  /* margin: 0, 5px, 5px, 0; */
}
/* going to try 3 ways to wrap this image with text*/
/* try the entire row?
or try the image element
or go for the paragraph element */

/* the whole row 
left: 50px is pushing the container left?*/
.row-2 {
  /* position: relative; */
  /* left: 50px; */
  /* /padding: 10px; */
}

.aboutme-p {
  /* position: relative; */
  /* float: right; */
}
