body {
  background-color: lightgrey;
  min-height: 100%;
  padding-bottom: 80px;
  position: relative;
}
.form-control {
  border-radius: 0;
  margin-top: 3px;
}

html {
  height: 100%;
}
.nav-item {
  display: inline-block;
}
.container {
  margin-top: 80px;
  margin-bottom: 50px;
}

.card {
  border-radius: 0;
  font-family: Arial, Helvetica, sans-serif;
}

button.btn.btn-primary {
  border-radius: 0;
  background-color: #4aaaa5;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: xx-large;
  font-family: "Times New Roman", Times, serif;
  font-weight: 900;
  color: #4aaaa5;
}

#navbar-brand {
  margin-left: 10px;
  background-color: #4aaaa5;
  padding: 10px, 0 100px, 0;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-weight: 900;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #cccccc;
}
#nav-link1.nav-link:hover {
  color: #343434;
}
#nav-link2.nav-link:hover {
  color: #343434;
}
#nav-link3.nav-link:hover {
  color: #343434;
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: #666666;
  border-top: #4aaaa5;
  border-top-width: 5px;
  border-top-style: solid;
  color: #777;
  position: absolute;
  width: 100%;
  bottom: 0;
}

p {
  line-height: 1.5em;
  font-weight: 500;
}
